@CHARSET "UTF-8";

html, body {
	height: 100%;
	background-image: url("background.jpg");
	background-size: cover;
}

.jumbotron {
	color: white;
	background: none;
	margin-top: 75px;
}

.jumbotron h1 {
	font-weight: 200;
}